/* 
    Document   : estilo
    Created on : 25-may-2013, 1:59:48
    Author     : Christian
    Description:
        Purpose of the stylesheet follows.
*/

h3{
    color:#626565;
}

#tabla{
/*    width: 850px;*/
}
#centrado{
    text-align: center;
}
.footer{
    height: 200px;
    background-color: #0088cc;
}
